.nav-list {
    margin: 20px;
    font-size: 0;
    background-color: #e64a19;
}

/* sub section one */

.list-item {
    display: inline-block;
    font-size: 16px;
    position: relative;
    background-color: #e64a19;
    padding: 10px;
}   

.link {
    padding: 10px;
    color: white;
    text-decoration: none;
    width: 100%;
}

.sub-nav-list {
    display: none;

}

.sub-list-item {
    display: block;
    padding: 10px;
    background-color: #e64a19;
    color: white;
}

.list-item:hover > .sub-nav-list {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 100%;
    left: 0;
    right: 0;
}

/* sub section two and sub section three*/

.hover:hover {
    background-color: #8a2d0f;
}

.sub-nav-lists {
    display: none;
}

.sub-list-item:hover > .sub-nav-lists {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 100%;
    margin-top: -26px;
    left: 100%;
}
