.wrapper {
    width: 200px;
    height: 200px;
    margin: 10% auto;
    border: 1px solid black;
    overflow: hidden;
}
.box {
    width: 200px;
    height: 200px;
    background-image: url('./img/03cad7cada519b2427a7e0ac885e3992.png');
    background-size: cover;
    transition: transform 1s ease;
}

.box:hover {
    transform: scale(1.5, 1.5);
}